
.shopping-cart {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    font-size: 18px;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  
  .shopping-cart span {
    display: block;
    font-size: 18px;
    color: #333333;
  }
  
  .shopping-cart .item-count {
    font-weight: bold;
    color: #007bff;
  }
  