body {
  background-color: theme('colors.white');
  color: theme('colors.black');
  font-family: "Open Sans";
}

.active{
  @apply block py-2 pl-3 pr-4 text-white bg-orange-700 rounded md:bg-transparent md:text-orange-700 md:p-0 underline;
}